<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic HTML with JS</title>
    <link rel="stylesheet" href="calculator.css">
</head>
<body>
    <h1>Hand Probability Calculator</h1>

    <div id="options" class="box">
        <div>
            <h2>Options</h2>
            <label for="deckSize">Deck Size:</label>
            <select id="deckSize" name="deckSize">
                <option value="52" selected>52 cards (without jokers)</option>
                <option value="54">54 cards (with jokers)</option>
            </select>
            <label for="handSize">Hand Size:</label>
            <input type="number" id="handSize" name="handSize" min="1" oninput="this.value = this.value.replace(/[^0-9]/g, '');" value="8" >
        </div>
    </div>

    <div id="requirements" class="box">
        <h2>Card Requirements</h2>
        <div>
            <label for="requirementAdderType">Requirement Type:</label>
            <select id="requirementAdderType" name="cardRequirement">
                <option value="sameRank" selected>Same Rank</option>
                <option value="sameSuit">Same Suit</option>
                <option value="sameColor">Same Color</option>
                <option value="flush">Flush</option>
                <option value="straight">Straight</option>
                <option value="onlyNumbers">Are Numbers</option>
                <option value="onlyNumbers">Are Letters</option>
            </select>
            <div id="requirementAdderOptions">
                <label for="requirementAdderNumber">Number of Cards that should meet this requirement</label>
                <input type="number" id="requirementAdderNumber" name="requirementNumber" min="0" value="0" oninput="this.value = Math.min(this.value.replace(/[^0-9]/g, ''), this.max);">
                <label for="requirementAdderRank" id="requirementAdderRankLabel">Specific Rank:</label>
                <select id="requirementAdderRank" name="cardRequirement">
                    <option value="Any" selected>Any</option>
                    <option value="A">A</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="J">J</option>
                    <option value="Q">Q</option>
                    <option value="K">K</option>
                </select>
                <label for="requirementAdderSuit" id="requirementAdderSuitLabel">Specific Suit</label>
                <select id="requirementAdderSuit" name="cardSuit">
                    <option value="Any" selected>Any</option>
                    <option value="Hearts">Hearts</option>
                    <option value="Diamonds">Diamonds</option>
                    <option value="Clubs">Clubs</option>
                    <option value="Spades">Spades</option>
                </select>
                <label for="requirementAdderColor" id="requirementAdderColorLabel">Specific Color</label>
                <select id="requirementAdderColor" name="cardColor">
                    <option value="Any" selected>Any</option>
                    <option value="Red">Red</option>
                    <option value="Black">Black</option>
                </select>
            </div>
            <button id="addRequirementButton">Add Requirement</button>
        </div>
        <div>
            <h3>List</h3>
            <ul id="requirementList"></ul>
        </div>
    </div>

    <div id="results" class="box">
        <h2>Result</h2>
        <button id="calculateButton">Calculate Odds</button>
        <div id="result"></div>
    </div>

    <script src="calculator.js"></script>
</body>
</html>
